@if (data$ | async; as data) {
<ng-container>
  @if (data.isLoading) {
    <mc-loading></mc-loading>
  }
  @if (data.error) {
    <mc-error-message [message]="data.error"></mc-error-message>
  }
  @if(data.feed) {
  <div>
    <div
      class="article__preview"
      *ngFor="let article of data.feed.articles; let last = last"
      [ngClass]="{ 'article__preview-last': last }"
    >
      <div class="article__meta flex flex-aic">
        <a
          class="article__meta-image"
          [routerLink]="['/profiles', article.author.username]"
        >
          <img [src]="article.author.image" [alt]="article.author.image" />
        </a>
        <div class="info flex flex-col">
          <a
            class="article__meta-name"
            [routerLink]="['/profiles', article.author.username]"
          >
            {{ article.author.username }}
          </a>
          <span class="article__meta-date">{{ article.createdAt }}</span>
        </div>
        <div class="article__meta-favorites flex flex-aic">
          ADD TO FAVORITES
          <!-- <mc-add-to-favorites
            [isFavorited]="article.favorited"
            [articleSlug]="article.slug"
            [favoritesCount]="article.favoritesCount"
          ></mc-add-to-favorites> -->
        </div>
      </div>
      <a [routerLink]="['/articles', article.slug]" class="preview__link">
        <h2 class="preview__link-title">{{ article.title }}</h2>
        <p class="preview__link-description">{{ article.description }}</p>
        <div class="flex flex-aic flex-jcsb">
          <span>Read more...</span>
          <mc-tag-list [tags]="article.tagList"></mc-tag-list>
        </div>
      </a>
    </div>
    @if (data.feed.articlesCount > 0) {
      <mc-pagination
        [totalPages]="data.feed.articlesCount"
        [pageLimit]="pageLimit"
        [url]="baseUrl"
        [currentPage]="currentPage"
      ></mc-pagination>
    }
  </div>
  }
</ng-container>
}
