<ng-container>
  @if(data$ | async; as data) {
  <nav class="navbar navbar-light">
    <div class="flex flex-jcsb flex-aic container">
      <a routerLink="/" class="navbar-logo">Medium.</a>
      <ul class="flex flex-aic navbar__nav">
        <li class="navbar__nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="navbar__nav-link flex flex-aic"
          >
            <svg>
              <use [attr.href]="iconPath + '#home'"></use>
            </svg>
            Home
          </a>
        </li>

        <!-- Links for logged in users -->
        <ng-container>
          @if (data.currentUser) {
          <li class="navbar__nav-item">
            <a
              routerLink="/articles/new"
              routerLinkActive="active"
              class="navbar__nav-link flex flex-aic"
            >
              <svg>
                <use [attr.href]="iconPath + '#note'"></use>
              </svg>
              New Post
            </a>
          </li>
          <li class="navbar__nav-item">
            <a
              routerLink="/settings"
              routerLinkActive="active"
              class="navbar__nav-link flex flex-aic"
            >
              <svg>
                <use [attr.href]="iconPath + '#setting'"></use>
              </svg>
              Settings
            </a>
          </li>
          <li class="navbar__nav-item">
            <!-- custom url -->
            <a
              [routerLink]="['/profiles', data.currentUser.username]"
              routerLinkActive="active"
              class="navbar__nav-link flex flex-aic"
            >
              <svg>
                <use [attr.href]="iconPath + '#user'"></use>
              </svg>
              {{ data.currentUser.username }}
            </a>
          </li>
          }
        </ng-container>

        <!-- Links for not logged in users -->
        <ng-container>
          @if (data.currentUser === null) {
          <li class="navbar__nav-item">
            <a routerLink="/login" class="navbar__nav-link flex flex-aic">
              <svg>
                <use [attr.href]="iconPath + '#login'"></use>
              </svg>
              Sign in
            </a>
          </li>
          <li class="navbar__nav-item">
            <a routerLink="/register" class="navbar__nav-link flex flex-aic">
              <svg>
                <use [attr.href]="iconPath + '#register'"></use>
              </svg>
              Sign up
            </a>
          </li>
          }
        </ng-container>
      </ul>
    </div>
  </nav>
  }
</ng-container>
