.sidebar {
  background: rgba(0, 0, 0, 0.05);
  padding: 12px;

  p {
    margin-bottom: 10px;
  }

  &__tags {
    flex-wrap: wrap;
    gap: 6px;

    &-tag {
      padding: 0.15rem 0.3rem;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }
    }
  }
}
